@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Nasaliza';
    src: url('./font/Nasaliza.ttf') format('truetype');
  }
  
  body {
    font-family: 'Nasaliza', sans-serif;
  }

  .custom-rounded {
   border-radius: 100% 0% 0% 100% / 100% 100% 0% 0% ;
  }
  .costum-left-rounded {
    border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%  ;
  }